.profile-head
  .avatar-col
    width: 50%
    display: inline-block
    .avatar
      width: 100%
      padding: 0
      padding-top: 100%
      background-position: center center
      background-size: cover
      border-radius: 50%
  a
    color: inherit

  .profile-info
    display: flex
    flex-direction: column
    justify-content: space-between
    @extend .text-center
    .profile-name

    .profile-counters

    .follow-block
      @extend .pb-2
