.profile-block
  @extend .a-inherit

.profile-head
  .avatar-col
    @include media-breakpoint-up(lg)
      width: 50%
    @include media-breakpoint-only(md)
      width: 75%
    @include media-breakpoint-down(sm)
      width: 100%
    @include media-breakpoint-only(xs)
      width: 50%
    display: inline-block
    .avatar
      border-radius: 50%

  .profile-info
    display: flex
    flex-direction: column
    justify-content: space-between
    @extend .text-center
    .profile-name
      a:link
        text-decoration: none
    .profile-counters
      @include media-breakpoint-only(xs)
        margin-bottom: 1em
    .follow-block
      @extend .pb-2
